* {box-sizing: border-box;}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  justify-content: space-between
}

main {
  flex: 1;
}

/*********************************************************************/
/*Logo, Brand Name, Search input, Shopping cart logo and sign in tab*/
/*******************************************************************/

.generalfeatures {
    padding: 0 40px;
}

main.contactcontainer {
    padding: 0 40%;
}



header {
    position: fixed; 
    text-align: left;
    width: 100%;
    z-index: 3;
}


header div i {
    padding-left: 13px;
    font-size: 30px;
}

header div h1 {
    padding: 0 0 0 30px;
    margin: 0;
    font-size: 30px;
}

header div {
    display: flex;
    align-items: center;
    height: 55px;
}

header div, nav {
    background: #00803e;
}

header h1, nav li a, header div i {
    color: #f7f1e3;
}

nav {
    position: absolute;
    display: none; 
    width: 150px;
    z-index: 2;
}

nav ul li {
    list-style: none;
    padding: 13px;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li a {
    text-decoration: none;
    font-size: 14px;
}

nav li a:hover {
    color: black;
}

.navhr {
    margin: 0;
}
a.cartcount {
    margin: 0;
}

a.cartcount, span.bracketleft, span.bracketright {
    display: none;
}

a.cartcount:hover {
   color: #d63031;
   cursor: pointer; 
}

.mycart, span.bracketleft, span.bracketright {
    color: #fff;
    font-size: 14px;
}

/*******HEADER/NAV LINKS ENDS HERE********/


main.container {
    padding: 0 30px;
} 


/*******User Dropdown Starts********/

.user {
    font-size: 14px;
    color: #fff;
}

.navbarcontent {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    height: auto;
    display: none;
    position: absolute;
    background-color: #00803e;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a {
   text-decoration: none;
}

.dropdown-content a:hover, .user:hover {
   color: #eb3b5a;
}
.navbarcontent:hover .dropdown-content {
    display: block;
}

.atags {
    display: flex;
    flex-direction: column;
    height: auto;
}

.firsttwo {
    margin: 5px 0;
}

/*******User Dropdown Ends********/



/*******CONTACT NAV MENU********/

.btnAddPage{
    text-decoration: none;
    color: #fff;
    background: #00803e;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
}
.btnAddPage:hover{
    color: #00803e;
    background: #fff;
}

form.addPage {
    width: 100%;
    height: auto;
}

.textDiv, .textAreaDiv {
    display: flex;
    flex-direction: column;
}

.addPageLabel {
    margin: 15px 0 5px 0;
}

.addPageText, .textAreaContent {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 0 10px;
}

.addPageText:hover, .textAreaContent:hover {
    border: 1px solid rgb(194, 221, 158);
}

.addPageText {
    height: 30px; 
}

.textAreaContent {
    height: 200px;
    padding-top: 8px;
}

main.contactcontainer {
    padding: 0 30px;
    max-width: 800px;
    margin: 0 auto;
}



/*********************************************************************/
/************************Cover image Section*************************/
/*******************************************************************/
img#coverimage {
    position: relative;
    width: 100%;
    height: auto;
    height: 70vh;
}

.imgtext {
    position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; height: 400px; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}


/*********************************************************************/
/************************Features  - Products**************************/
/*******************************************************************/

.categories {
    width: 300px; 
    background: #ffe066;
    border-radius: 1px;
    text-align: center;
    margin-top: 25px;

}

.categories h3 {
    color: #00803e;
}

img {
    max-width: 100%; 
    display: block;
    height: 250px;
    color: 
}
    
h3, h5 {
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 8px;
}
.listing {
  padding: 20px 0 0 0;
  list-style: none;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
  margin: 0 auto;
  
}
.listing li {
  background-color: #ff8300;
  border: 1px solid #ffe066;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.listing .addtocart {
  background-color: #00803e;
  margin-top: auto;
  border-top: 1px solid #ffe066;
  padding: 10px;
  text-align: center;
}

.listing .addtocart a {
    text-decoration: none;
    color: #ff8300;
}

.listing .addtocart a:hover {
    color: #fff;
}

h3#featureheading {
    background: #00803e;
    height: 50px;
    padding-top: 10px;
    color: #fff;
    width: 100vw;
    text-align: left;
}


/************************End of Features  - Products**************************/


/*********************************************************************/
/******************************SIGN-UP********************************/
/*******************************************************************/

div#signup {
    max-width: 35%;
    padding: 2%;
    margin: 0 auto;
}

div#signup h1 {
    margin: 0;
    font-size: 23px;
    text-align: center;
}

.signupinput, 
.all {                  /***Sign-up and Log-in form***/
    width: 100%;
}

.signupinput, .all {    /***Sign-up and Log-in form***/
    padding: 5px;
    margin-bottom: 20px;
    height: 33px;
    border-radius: 5px;
    border: 1px solid grey;
}

div#signup input[type=submit] {
    background-color: #00803e;
    border: none;
    color: #fff;
    font-size: 20px;
}

div#signup input[type=submit]:hover,
.signupinput input[type=submit]:hover,
.signupinput {  /***Sign-up form***/
    border: 1px solid #00803e;
}

.logininfo {
    font-size: 14px;
    font-style: italic;
}

.logininstead {
    border: 1px solid #00803e;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

.logininstead:hover {
    color: #00803e;
}


/*********************************************************************/
/******************************LOG-IN/SIGN-IN FORM**************************/
/*******************************************************************/
.loginform {
    background: #ffe066;
    border-radius: 10px;
    margin: 0 auto;
    width: 70%;
    padding: 30px;
    margin-top: 10%;
}

section.signinformcontainer.generalfeatures h4 {
    text-align: center;
}

form.signinform {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.signinformlabelone {
    margin-bottom: 5px;
}
.signinformlabeltwo {
    margin: 22px 0 5px 0;
}

form.signinform input[type=submit] {
    border: none;
    margin-top: 20px;
    height: 40px;
    background-color: #00803e;
    color: #fff;
    font-size: 20px

}


/*********************************************************************/
/****************************ABOUT-US PAGE***************************/
/*******************************************************************/
.contactlink {
    text-decoration: none;
    background: #ffeaa7;
    padding: 5px;
}

.contactlink:hover {
    color: red; 
}

div#aboutcontainer {
    margin: 0 auto;
    width: 80%;
    line-height: 28px;
    word-spacing: 4px;
}

div#aboutcontainer p {
    text-align: justify;
}

/*********************************************************************/
/****************************SHOPPING CART***************************/
/*******************************************************************/

/********CART.EJS STYLING********/
.customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.customers td, .customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

.customers tr:nth-child(even){background-color: #f2f2f2;}

.customers tr:hover {background-color: #ddd;}

.customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.unitprice{
    width: 40px;
}

.itemdetails {
    float: right;
}

.itemstotal {
    overflow: auto;
}

.total {
    float: left;
}

.amount {
    float: right;
}

.itemdetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.checkout, .itemstotal {
    text-align: center;
    padding: 8px;
    border:1px solid #4CAF50;
    text-decoration: none;
    width: 190px;
}

.checkout:hover {
    background-color: #4CAF50;
    color: white;
}

.mycartdisplayall{
    overflow-x: auto;
}


/*********************************************************************/
/****************************ADMIN PAGE***************************/
/*******************************************************************/


/********ADMIN TITLE********/
.admintitle {
    background-color: #596275;
    width: 250px;
    padding: 10px;
}
.admintitle h3 {
    margin: 0;
    padding: 0;
    color: #ff5252;
}


/********ADMIN NAVIGATION********/
section.admindashboard{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    overflow-x: auto;
}

.adminsidebar, .adminbody {
    min-width: 580px;
}

.adminsidebar {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.adminsidebar a {
    text-decoration: none;
    margin-bottom: 10px;
    border: 1px solid #00803e;
    border-radius: 5px;
    padding: 10px;
    color: #00803e;
}

.adminsidebar a:hover {
    background-color: #dff9fb;
    color: #6ab04c;
}

/********PRODUCTS-ADMIN********/
#addproductform {
    display: flex;
    flex-direction: column;
}

.adminbody {
    width: 100%;
}

#allproducts {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

#allproducts td, #allproducts th {
    border: 1px solid #00803e;
    padding: 8px;
}

#allproducts th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


/********ADD NEW PRODUCT-ADMIN********/
.adminbody h4 {
    text-align: center;
}

.adminbody input[type=date]{
    height: 43px;
}

#addproductdiv {
    margin: 0 auto;
    width: 700px;
}

#addproductform {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.addproductbutton, .addproductinput {
     border-radius: 5px;
}

.addproductinput {
    height: 40px;
    border: 1px solid grey;
    padding-left: 10px;
    padding-right: 10px;
}

.addproductinput:hover {
    border: 1px solid #44bd32;
}

.addproductbutton {
    margin-top: 10px;
    padding: 10px;
    max-width: 150px;
    border: 1px solid grey;
    font-size: 16px;
}

.addproductbutton:hover {
    background-color: #44bd32;
}


/********ORDERS-ADMIN********/
#allorders {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

#allorders td, #allorders th {
    border: 1px solid #00803e;
    padding: 8px;
}

#allorders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}


.deleteorder {
    display: flex;
    justify-content: space-around;
}


/********CHANGE-PASSWORD-ADMIN********/
.signinform input[type=password] {
    height: 42px;
}



/*********************************************************************/
/******************************ORDER HISTORY********************************/
/*******************************************************************/

.orderhistorytitle {
    height: 60px;
    width: 100%;
    background: #f2f2f2;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.orderhistorytitle h3 {
    color: green;
}

td.imagetd, th.imagetitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagetd img {
    width: 200px;
    height: 100px;
}

.orderhistory {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

.orderhistory td, .orderhistory th {
    border: 1px solid #ddd;
    padding: 8px;
}

.orderhistory tr:nth-child(even){background-color: #f2f2f2;}

.orderhistory tr:hover {background-color: #ddd;}

.orderhistory th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c7ecee;
    color: white;
}


/*********************************************************************/
/******************************My Account Page********************************/
/*******************************************************************/


.myaccounttable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.myaccounttable td, .myaccounttable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.firstcolumn {
    width: 30%;
}
.myaccounttable tr:nth-child(even){background-color: #f2f2f2;}

.myaccounttable tr:hover {background-color: #ddd;}



/*********************************************************************/
/******************************Footer********************************/
/*******************************************************************/

.footercontainer {
    background:#00803e; 
}

div.copyrightinfo {
    width: 100vw;
}

div.copyrightinfo {
    height: 50px;
}

div.copyrightinfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.copyrightinfo {
    font-size: 18px;
    color: #fff;
}

.year, .far.fa-copyright {
    color: #fff;
}


/*********************************************************************/
/******************************MEDIA QUERIES********************************/
/*******************************************************************/

/*****Header/Nav Bar******/
@media screen and (min-width: 823px){

    .dropdown-content {
        right: 0;
        width: auto;
    }

    .atags {
        width: auto;
        height: auto;
    }

    header { 
        display: flex;
        background: #00803e;
    }
    
    header div { 
        width: 370px;
    }
    
    .fas.fa-bars {
        display: none;
    }
    
    nav {
        display: unset !important;
        position: unset !important;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    nav ul {
        display: flex;
        margin-top: 5px;
        margin-right: 20px;
        justify-content: flex-end;
        margin: 0;
        margin-right: 50px;
    }
    
    .navhr {
        display: none;
    }
    
    nav ul li{
        margin-top: 2px; 

    }

     nav ul li a {
        font-size: 14px;
        margin-left: 30px;
     }


/*** login form ***/
.loginform {
    width: 40%;
    padding: 10px;
    margin-top: 5%;
}

    
}



@media only screen and (max-width: 772px) {

    div#signup {
        max-width: 70%;
    }

    form.signinform {
        width: 60%;
    }

    .admindashboard.generalfeatures {
        margin-right: 5%;
    }
    
    .orderhistorydiv {
        overflow-x: auto;
    }
} 
   

@media only screen and (max-width: 541px) {
    div#slider figure img { height: 350px; }

    form.signinform {
        width: 80%;
    }
    
} 

@media only screen and (max-width: 390px) {
    .generalfeatures {
        padding: 0 10px;
    }

    div#signup, div#aboutcontainer {
        max-width: 90%;
    }

} 

@media only screen and (max-width: 320px) {

    body {
        font-size: 18px;
    }
    
    form.signinform, div#aboutcontainer{
        width: 95%;
    }

    header div h1 {
        font-size: 25px;
    }

}
